<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gautier.app.rss.reader.ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="gaurtier.app.rss.reader.ui.Properties.Settings.rss_connection_string_sqlserver"
            connectionString="Data Source=.;Initial Catalog=rss_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="gautier.app.rss.reader.ui.Properties.Settings.rss_connection_string_sqlserver"
            connectionString="Data Source=.;Initial Catalog=rss_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <gautier.app.rss.reader.ui.Properties.Settings>
            <setting name="feeds_articles_column_names" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>feed_name</string>
                        <string>headline_text</string>
                        <string>article_summary</string>
                        <string>article_text</string>
                        <string>article_date</string>
                        <string>article_url</string>
                        <string>row_insert_date_time</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="feeds_column_names" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>feed_name</string>
                        <string>feed_url</string>
                        <string>last_retrieved</string>
                        <string>retrieve_limit_hrs</string>
                        <string>retention_days</string>
                    </ArrayOfString>
                </value>
            </setting>
        </gautier.app.rss.reader.ui.Properties.Settings>
    </applicationSettings>
</configuration>