<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="gaurtier.app.rss.reader.ui.Properties.Settings.rss_connection_string_sqlserver"
      connectionString="Data Source=.;Initial Catalog=rss_data;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.8.1"/>
  </startup>
</configuration>
